<html>

  <body>
    <br />
    <br />
    <br />
    <h1></h1>
    <br />
    <br />
    <br />

    <%# <p><% if @user_date == @date.Now %></p>
    <h2>Happy birthday Slava!</h2>
    <%# <p><% else %></p> %>
    <%# <h2>Your birthday will be in <% @count_days %>days, Slava.</h2> %>
    <h2>Your birthday will be in 5 days, Slava.</h2>
    <%# <p><% end %></p> %> %>
  </body>

</html>