<html>

  <body>
    <h1>How many days until your next birthday</h1>
    <form action="birthday" method="post">
      <input type="date" name="bday">
      <input type="submit" value="Submit">
    </form>
  </body>

  <p>
    This app should be used with Chrome. If you are using another browser, enter
     your birthday in the format
    </p>

</html>

 


